@font-face {
  font-family: 'Visitor';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/visitor.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-family: Visitor, Helvetica, sans-serif;
  font-size: 10px;
}

body {
  color: #212121;
  font-size: 2rem;
}

header {
  background-color: #36b;
  height: 15rem;
  padding: 2rem 4rem 0 30rem;
  position: relative;

  &::before {
    background-color: #ffc107;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h1 {
    color: #fff;
    font-size: 4.8rem;
    margin-top: 5rem;
    position: relative;

    small {
      color: #bdbdbd;
    }
  }

  p {
    color: #212121;
    font-size: 3rem;
    margin: 0;
    position: relative;

    small {
      display: block;
    }
  }

  img {
    background-color: #fff;
    border-radius: 50%;
    border: 1rem solid #36b;
    height: 20rem;
    left: 8rem;
    margin-top: -10rem;
    position: absolute;
    top: 100%;
  }
}

main {
  margin: 2rem auto;
  padding-top: 10rem;
  width: 70.4rem;

  blockquote {
    display: inline-block;
    margin: 0;
    position: relative;
    width: 48%;
    text-indent: 2.5rem;

    &::before {
      color: #757575;
      content: '"';
      display: inline-block;
      font-size: 6.4rem;
      font-weight: bold;
      left: 0;
      margin-top: -1.5rem;
      position: absolute;
      top: 0;
      text-indent: 0;
    }
  }

  .contact {
    display: inline-block;
    margin-top: 0;
    width: 48%;


    li {
      margin-top: .5rem;
    }

    label {
      display: inline-block;
      font-weight: bold;
      min-width: 8rem;
    }
  }

  section {
    margin-top: 3rem;

    h2 {
      border-bottom: 1px solid #bdbdbd;
      margin-bottom: 1rem;
    }

    article {
      margin-top: 2rem;

      &:nth-child(6) {
        margin-top: 25rem;
      }
    }

    time {
      color: #bdbdbd;
      display: inline-block;
      vertical-align: text-top;
      width: 30%;
    }

    div {
      display: inline-block;
      margin: -.25em;
      padding-left: 2rem;
      vertical-align: text-top;
      width: 70%;
    }

    h3 small {
      color: #757575;
    }
  }
}
